# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

obj/
bat/
src/main/Main.as
AIR_readme.txt
application.xml
orichalcum-toolbelt.lxml
PackageApp.bat
Run.bat
bin/
orichalcum-toolbelt.as3proj